@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --color-text-menu: #fb8500;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-3 {
  width: 23%;
}
.col-4 {
  width: 32%;
}
.col-12 {
  width: 100%;
}

.border-container {
  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 0px;
}
.form-search {
  font-size: 18px;
  color: #ddd;
  padding: 7px 18px;
  border: none;
  outline: none;
  background-color: #c4c4c449;
}
.btn {
  font-size: 16px;
  text-decoration: none;
  padding: 5px 25px;
  overflow: hidden;
}
.see-more-btn {
  text-align: right;
  margin: 30px;
}
.see-more-btn a {
  border-radius: 40px;
}
.card {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  border: 1px solid #ddd;
  overflow: hidden;
}
.btn-card {
  border: 1px solid #ff006e;
  margin: 0px 10px;
  border-radius: 10px;
}
.title-bar .title {
  margin: 40px 0px;
  width: 100%;
}
.title-bar .title h1 {
  user-select: none;
  font-size: 22px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  color: white;
  clip-path: polygon(0 0, 89% 0, 100% 100%, 0% 100%);
}
/* !----------------------- */
/* *           swiper js */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}
.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
/* !----------------------- */
/* !----------------------- */
.header-bar {
  width: 100%;
  background-color: black;
}
.header-bar .navbar {
  display: flex;
  justify-content: space-between;
}
.header-bar .navbar .logo img {
  height: 45px;
  object-fit: cover;
  margin-top: 14px;
}
.header-bar .navbar .navbar-nav {
  display: flex;
  align-content: center;
  line-height: 70px;
}
.header-bar .navbar .navbar-nav ul {
  display: flex;
  list-style: none;
}
.header-bar .navbar .navbar-nav ul .nav-item {
  margin-right: 10px;
}
.header-bar .navbar .navbar-nav ul .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 4px 20px;
  font-weight: 600;
  border-radius: 25px;
}
.header-bar .navbar .navbar-nav .search .form-search {
  width: 300px;
  margin-left: 20px;
  border-radius: 40px;
}
.header-bar .navbar .navbar-nav .search {
  position: relative;
}
.header-bar .navbar .navbar-nav .search i {
  font-size: 20px;
  color: #dfdfdfe6;
  /* background-color: #fff7006a; */
  padding: 8px 15px;
  border-radius: 40px;
  position: absolute;
  right: 0px;
  top: 17px;
}
.header-bar .navbar .navbar-nav ul .nav-item .nav-link:hover {
  color: var(--color-text-menu);
}
.header-bar .navbar .navbar-nav .search .form-search:focus {
  border: 2px solid purple;
}
.header-bar .navbar .navbar-nav .search .form-search:focus ~ i {
  border-left: 2px solid purple;
}
/* !---------------------------- */
.hero-banner {
  width: 100%;
  height: 92vh;
}
.hero-banner .banner {
  width: 100%;
  height: 100%;
}
/* *********************** */
.hero-banner .banner img {
  object-fit: cover;
  background-size: cover;
  position: absolute;
}
.hero-banner .banner .overlay {
  width: 100%;
  height: 100%;
  background-color: #000000b4;
  position: absolute;
}

.hero-banner .banner .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.hero-banner .banner .content .banner-title {
  width: 900px;
  text-align: center;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-banner .bannerr .content .banner-title h1 {
  font-size: 35px;
}
.hero-banner .banner .content .banner-title p {
  margin: 20px 0px;
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 27px;
  color: #c6c6c6;
}
.hero-banner .banner .swiper .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  border-radius: 0;
  background-color: #ffffff;
}
.swiper-button-next {
  color: #ddd !important;
}
.swiper-button-prev {
  color: #ddd !important;
}
.swiper-pagination {
  margin-bottom: 30px;
}
/* !-------------------------------------*/
.sponsor {
  width: 1450px;
  margin: 20px auto;
  height: 70px;
  user-select: none;
}
.sponsor .pic-sponsor {
  display: flex;
  align-items: center;
}
.sponsor .pic-sponsor img {
  width: 350px !important;
  border-radius: 10px;
  background-color: rgb(255, 0, 0);
  border-bottom: 3px solid rgb(109, 109, 109);
}
/* !------------------------------------- */
.template .title h1 {
  width: 150px;
  background-color: #ff006e;
}
.template .title {
  border-bottom: 3px solid #ff006e;
}
.template .card {
  height: 400px;
}
.template .card .pic {
  width: 100%;
  height: 300px;
  background-color: rebeccapurple;
}

.template .card .title-card h3 {
  font-size: 18px;
  margin: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}
.template .card .button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template .card .button a {
  color: #ff006e;
}
.template .card .button .hvr-bounce-to-right::before {
  background-color: #ff006e !important;
}
.template .card .button a:hover {
  color: #ffffff;
}
.template .card .button a:last-child:hover {
  border: 1px solid blue;
}
.template .card .button a:last-child:hover {
  color: white;
}
.template .card .button .hvr-bounce-to-left::before {
  background-color: blue !important;
}
/* --------------------------- */
.template .card:hover {
  transform: scale(102%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.template .see-more-btn a {
  color: #ff006e;
  border: 3px solid #ff006e;
}
.template .see-more-btn .hvr-bounce-to-right::before {
  background-color: #ff006e;
}
.template .see-more-btn a:hover {
  color: #ffffff;
}
/* !------------------------------ */
.video .title h1 {
  width: 130px;
  background-color: #184e77;
}
.video .title {
  border-bottom: 3px solid #184e77;
}
.video .card {
  height: 300px;
}
.video .card .box-video {
  width: 100%;
  height: 230px;
}
.video .card .plyr__video-wrapper {
  width: 100%;
  height: 230px;
}
.video .card .box-video iframe {
  width: 100%;
  height: 100%;
}
.video .card .box-video video {
  width: 100%;
  height: 100%;
}
.video .card .video-title {
  width: 100%;
  height: 70px;
  background-color: #184e77;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 2px solid #ddd;
}
.video .card .video-title a {
  font-size: 17px;
  color: #ddd;
  text-decoration: none;
}
.video .card .video-title a i {
  font-size: 20px;
  color: red;
}
.video .card .video-title a:hover {
  text-decoration: underline;
  color: #00fff2;
}
.video .see-more-btn a {
  color: #184e77;
  border: 3px solid #184e77;
}
.video .see-more-btn .hvr-bounce-to-right::before {
  background-color: #184e77;
}
.video .see-more-btn a:hover {
  color: #ffffff;
}
